In [7]:
import requests
import pandas as pd

C:\Users\calvi\AppData\Local\Temp\ipykernel_34728\222825045.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [30]:
course_data = requests.get(f"https://planetterp.com/api/v1/courses?department=CMSC").json()

df = pd.DataFrame(course_data)
df = df.sort_values(by=['course_number'])
print(df.tail())

    average_gpa                                         professors department  \
3      3.283036                     [Jonathan Katz, Andrew Childs]       CMSC
6      3.394737             [Aravind Srinivasan, Daniel Gottesman]       CMSC
97     3.576923  [Andrew Childs, Xiaodi Wu, Alexander Barg, Vic...       CMSC
68     3.112500                                     [Eytan Ruppin]       CMSC
46     3.000000                                [Ramani Duraiswami]       CMSC

   course_number      name                                              title  \
3           858K  CMSC858K  Advanced Topics in Theory of Computing; Introd...
6           858L  CMSC858L                                               None
97          858Q  CMSC858Q             Advanced Topics in Theory of Computing
68          858X  CMSC858X                                               None
46           878   CMSC878                                               None

    credits                                        description  is_recent  \
3       3.0                                               None       True
6       NaN                                               None       True
97      1.0  <i>\n<b>Prerequisite:</b> CMSC657, CMSC457 or ...       True
68      NaN                                               None       True
46      NaN                                               None       True

   geneds
3    None
6    None
97   None
68   None
46   None

In [19]:
grade_data = requests.get(f"https://api.planetterp.com/v1/grades?course={'CMSC131'}").json()

df1 = pd.DataFrame(grade_data)
df1.head()

,course,professor,semester,section,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Other
0,CMSC131,Jandelyn Plane,201201,0101,1,3,2,1,6,3,1,2,2,0,0,3,3,3,0
1,CMSC131,Jandelyn Plane,201201,0102,2,2,4,4,2,2,1,1,1,0,1,0,5,7,0
2,CMSC131,Jandelyn Plane,201201,0103,2,4,1,1,3,2,1,2,0,0,1,2,9,2,0
3,CMSC131,Jandelyn Plane,201201,0201,0,4,4,0,4,2,0,5,3,0,1,1,2,4,0
4,CMSC131,Jandelyn Plane,201201,0202,1,6,0,0,6,1,1,6,2,0,1,0,2,6,0

In [20]:
grade_data = requests.get(f"https://api.planetterp.com/v1/grades?professor={'Larry Herman'}").json()

df2 = pd.DataFrame(grade_data)
df2.head()

,course,professor,semester,section,A+,A,A-,B+,B,B-,C+,C,C-,D+,D,D-,F,W,Other
0,CMSC102,Larry Herman,201201,0101,3,9,6,2,12,4,2,9,5,0,5,0,1,6,0
1,CMSC216,Larry Herman,201201,0201,0,5,2,0,4,1,0,7,1,0,4,0,2,1,0
2,CMSC216,Larry Herman,201201,0202,1,8,1,0,6,1,0,3,3,0,4,0,0,3,0
3,CMSC216,Larry Herman,201201,0301,0,7,1,0,7,4,0,3,2,0,4,0,1,2,0
4,CMSC216,Larry Herman,201201,0302,0,4,1,0,4,3,0,5,4,0,2,0,3,2,1